<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" class="form-inline" action="{% url 'cmp:proveedor_inactivar' obj.pk %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-3">
                            ¿ Inactivar {{ obj.descripcion }}?
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <button type="submit" class="btn btn-danger btn-block">
                                    <i class="far fa-question-circle"></i> Sí, Inactivar
                                </button>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button type="button" class="btn btn-success btn-block" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
