<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-horizontal" action="{% url 'cmp:proveedor_edit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-horizontal" action="{% url 'cmp:proveedor_new' %}">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-6">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    {% if obj %} Editar {% else %} Nuevo {% endif %} Proveedor
                                </div>
                                <div class="dropdown-divider"></div>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        {{ form.descripcion.label_tag }}
                                        {{ form.descripcion }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.direccion.label_tag }}
                                        {{ form.direccion }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.contacto.label_tag }}
                                        {{ form.contacto }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.telefono.label_tag }}
                                        {{ form.telefono }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 mb-3">
                                            {{ form.estado.label_tag }}
                                            <div class="form-check">
                                                {{ form.estado }}
                                                <label class="form-check-label" for="id_estado">Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                                        <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">Cancelar</button>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
